.list{
  background-color: #4a148c;
    color: white;
    display: flex;
    justify-content: space-around;
    line-height: 98px;
    margin: 10px 0px;
    border-radius: 20px;

    .list_item{
      font-weight: bold;
    }
    .edit-icon{
      height: 30px;
      margin-right: 10px;
      cursor: pointer;
    }
    .delete-icon{
      height: 30px;
      cursor: pointer;

    }
    .img-container{
      height: 50px;
      width: 50px;
      margin-top: 25px;
      border-radius: 100%;
      background-color: #ffffff;
      overflow: hidden;
      .child-img{
        height: 50px;
        width: 100%;
        margin: 0px 0px 50px 0px;
      }
    }
}

.test{
  color: red;
  .list_item{
    font-weight: bold;
  }
  
}

#Sidnav{
  height: calc(100vh - 56px);
}

.pro-sidebar-inner{
  background: #4a148c !important;
}

.move-icon{
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

@import url("./style/Transportation.scss");
.login-form{
  background-color: rgb(236, 236, 216);
  min-height: 100vh;
  form{
      width: 50%;
      margin: auto;
      border: 2px solid gray;
      border-radius: 30px;
      padding: 15px;
      box-shadow: 0 5px 5px 5px;
  }
}